[submodule "docs"]
	path = docs
	url = git@github.com:JadeQin/JadeQin.github.io.git
[submodule "themes/hugo-pacman-theme"]
	path = themes/hugo-pacman-theme
	url = https://github.com/coderzh/hugo-pacman-theme.git
